.App {
  height: 100vh;
  padding-left: 20px;
  padding-top: 50px;

  &__buttons {
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__statistics {
    position: absolute;
    right: 20px;
    top: 250px;

    &-color {
      font-size: 30px;
    }
  }
}

.ListOfTodos__task {
  width: 30%;
  padding: 20px;
  border: 1px solid #937dc2;
  margin-bottom: 10px;
}
